name: Publish

on:
  release:
    types: # https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#release
      - released
      - prereleased

jobs:
  dump:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

  nuget:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Download Assets
        uses: i3h/download-release-asset@v1.3.3
        with:
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          tag: ${{ github.event.release.tag_name }}
          file: /.+/
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: List directory
        run: ls -lR

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Publish to NuGet.org
        run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
